* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d9d9d9;
}

/* Header Start */
header {
    background-color: #2a607c;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #242727;
}

header h1 {
    text-shadow: 0 0 1px;
    background-color: #37b1b9;
}

header a {
    color: #37b1b9;
    margin-bottom: 10px;
    
    /* text-decoration: none; */
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
}

/* Hero Section */
.hero {
    background-image: url("../Sunflower field.jpg");
}