* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d9d9d9;
}

/* Header Start */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../assets/Images/Background.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);;
    color: rgb(165, 127, 150);
}

/* .hero {}

Hero Section */
.hero {
    background-image: url("../assets/Images/Background.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.hero img {
    width: 100px;
    height:  auto;
}